.category-card {
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #cccccc;
    width: 100%;
    text-align: center;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.category-card:hover{
    transform: translateY(-5px);
    box-shadow: 3px 3px 15px #aaaaaa;
}

.card-category-label{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 100%;
}